Welcome to the sandbox!
<div id="jq_form_here" style="border: 1px solid; margin: 10px">JQ generated form is going in here.</div>
<div id="rb_form_here" style="border: 1px solid; margin: 10px">Ruby generated form is going in here.</div>